         body { margin: 0;
           font-family: 'IBM Plex Sans', sans-serif;
         background: #fff
         }
            .menu {
                position: absolute;

                top: 50px;
                left: 400px;
            }
            .menu a {
                color: #000;
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #ccc;
                    border-radius: 25px;
            }

            li {
                float: left;
            }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 15px 50px;
                text-decoration: none;
            }

            li a:hover {
                background-color: #aaa;
                    border-radius: 25px;
            }
