%section.home
	%div.content
		%h1 Home
%section.contact
	%div.content
		%h1 Contact
%section.about
	%div.content
		%h1 About
%section.team
	%div.content
		%h1 Team
%section.projects
	%div.content
		%h1 Projects

