*, *::before, *::after {
  box-sizing: border-box;
}


canvas{
  z-index: -1;
  top: 10px;

}

.glcanvas {
  width: 100vw;  
  min-height: 100vh;

}

.kmem{
  z-index: -1;
  position: fixed !important;
  top: 0;
  left: 0;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.leader-line {
  position: fixed !important;
}

.screen {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: #243B53;
  overflow: auto;
}

.scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.box {
  position: absolute;
  padding: 20px;
  background: white;
  font-weight: bold;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);


}

.box small {
  font-weight: normal;
  display: block;
  color: #627D98;
  white-space: nowrap;
}

.anchor {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #fff;
  border: 3px solid #000;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.anchor.is-in {
  top: 0px;
  left: -11px;
}

.anchor.is-out {
  top: 100%;
  right: -11px;
}

.box.is-success {
  border-right-color: #000;
}

.box.is-success .anchor {
  background: #fff;
  border-color: #000;
}

.box.is-error {
  border-left-color: #BA2525;
}

.box.is-error .anchor {
  background: #fff;
  border-color: #BA2525;
}

#box-1 {
  top: 0%;
  left: 0%;
  position: fixed;
  border-right: 5px solid #000;
}

#box-2 {
  top: 10%;
  left: 70%;
  border-left: 5px solid #000;
}

#box-3 {
  top: 40%;
  left: 80%;
  border-left: 5px solid #BA2525;
}

#box-4 {
  top: 120%;
  left: 60%;
  border-left: 5px solid #000;
}
